.episodios{
    margin-top: 84px;
    width: 100%;
    height: 1042.6px;
    background-image: 
        linear-gradient(
        225deg,
        #0000FF,
        #0000A3);   
        transform: skewY(-6deg); 
        -ms-transform: skewY(-6deg);
        -webkit-transform: skewY(-6deg);
}
.episodios h3{
    position: absolute;
    box-sizing: border-box;
    margin-left: 200px;
    margin-top: 110.2px;
    padding: 0;
    width: 209px;
    height: 62px;
    transform: skewY(6deg); 
    -ms-transform: skewY(6deg);
    -webkit-transform: skewY(6deg);
    color: white;
    font-size: 48px;
    font-family: IBMPlexSans;
}
.select-episodios{
    width: 100%;
    position: relative;
    top: 198.2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	align-items: center;
    transform: skewY(6deg); 
    -ms-transform: skewY(6deg);
    -webkit-transform: skewY(6deg);
}
.select-episodios img{
    width: 584px;
    height: 232px;
    margin: 36px;
}