footer{
    display: flex;
    align-content: space-between;
    padding-top: 2.5%;
    padding-bottom: 2.15%;
    padding-left: 7%;
    padding-right: 7%;
}
.ref{
    font-size: 14px;
    font-weight: 'IBM Plex Mono';
    text-align: center;
}
.fab{
    width: 16px;
    height: 28px;
    padding-left: 40%;
}
.icons{
    position: absolute;
    display: flex;
    right: 8%;
    align-content: space-around;
    justify-content: center;
    width: 17.5%;
}
@media (max-width:700px){
    footer{
        display: flex;
        flex-direction: column;
        padding-top: 7.5%;
        padding-bottom: 2.15%;
        padding-left: 14.8%;
        padding-right: 14.8%;
    }
    .ref{
        font-size: 14px;
        text-align: center;
    }
    .fab{
        width: 18px;
        height: 28px;
        padding-left: 18%;
    }
    .icons{
        display: flex;
        right: 8%;
        align-content: space-around;
        justify-content: center;
        width: 80%;
    }
}