.otros{
    position: relative;
    width: 100%;
    top: -111.2px;
    height: 630.2px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}   
.otros img{
    top: -111.2px;
    max-height: 660px;
    width: 100%;
}
.cel{
    margin-left: 15%;
    top: -111.2px;
    max-height: 660px;
    width: 31.8%;
}

.description{
    max-width: 464px;
    min-height: 290px;
    margin-right: 3%;
}
.otros h6 {
    font-size: 16px;
}
.otros h3{
    margin: 0;
    font-size: 48px;
}
@media (max-width:700px){
    .otros img{
        top: -111.2px;
        max-height: 519px;
        max-width: 100%;
    }
    .otros{
        position: relative;
        width: 100%;
        top: -111.2px;
        left: 0;
        max-height: 519px;
        max-width: 100%;
        justify-content: center;
    }   
}