.title{
    position: relative;
    width: 100%;
    height: 444.8px;
    padding: 0;
    color: #060A24;
}
.title h1{
    position: relative;
    margin: 0;
    padding-top: 8.33%;
    padding-left: 13.89%;
    padding-right: 5%;
    font-family: IBMPlexSans;
    font-size: 64px;
    word-wrap: break-word;
}
.title span{
    color: #0000EC;
}
.title h6{
    position: relative;
    max-width: 628px;
    padding-left: 13.89%;
    margin: 0;
    font-family: IBMPlexMono;
    font-size: 16px;
    word-wrap: break-word;
}
.title h5{
    display: none;
}
#more{
    display: block;
    position: relative;
    margin: 0;
    top: 12.59%;
    left: 13.89%;
    width: 226px;
    height: 56px;
    text-align: center;
    background-color: #00f3bb;
    border: 0px;
    font-size: 18px;
    color: #060A24; 
}
@media (max-width:700px){
    .title{
        height: 313.77px;
    }
    .title h1{
        margin: 0;
        padding-right: 25.62%;
        padding-top: 9.07%;
        padding-left: 5%;
        font-family: IBMPlexSans;
        font-size: 30px;
    }
    .title h6{
        display: none;
    }
    .title h5{
        display: block;
        position: relative;
        padding-right: 5%;
        padding-left: 5%;
        margin: 0;
        font-family: IBMPlexMono;
        font-size: 14px;
        word-wrap: break-word;
    }
    .title span{
        color: #060A24;    
    }
    #more{
        width: 288px;
        height: 48px;
        font-size: 16px;
        left: 0;
        top: 11.47%;
        margin-left: auto;
        margin-right: auto;
    }
}